include README.md CHANGELOG.md requirements.lock.txt
recursive-include docs *.md *.json *.yaml
recursive-include samples *.json
recursive-include tests *.py *.xml *.json
global-exclude __pycache__ *.py[cod]
